<html>
<head>
  <title> Bingo Protocol </title>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="../css/styles.css">
  <link rel="stylesheet" href="../css/bootstrap.min.css">
  <link rel="stylesheet" href="../css/toastr.css">

  <script>
  	var gui = require("nw.gui");

  </script>
</head>

<body>

	<nav class="navbar navbar-default navbar-static-top">
		<div class="container">
			<div class="navbar-header">
				<a href="#" class="navbar-brand">BingoJS</a>
			</div>
			<div id="navbar" class="navbar-collapse collapse">
				<ul class="nav navbar-nav navbar-right">
					<li><a href="unirse.html"><span class="glyphicon glyphicon-th" aria-hidden="true"></span></a></li>
					<li><a href="jugar.html"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></a></li>
				</ul>
			</div>
		</div>
	</nav>	
	<div class="container">
		<div>
			<a id="btn-empezar" href="#" class="btn btn-success"> <span class="glyphicon glyphicon-bullhorn" aria-hidden="true"></span> Empezar</a>
			<a id="btn-FinalizarPartida" href="#" class="btn btn-danger">Finalizar Partida</a>
		</div>
		<div class="row">
			<div class="text-center">
				<h2>Bingo</h2>
			</div>
		</div>
		<div class=""></div>
		<script type="text/template" class="m">
			<div id="alert" class="alert alert-success hidden" role="alert">
			  <a href="#" class="alert-link"> Alguient cantó </a>
			</div>
		</script>		
<!-- Numero jugados ON -->
		<div class="row">
			<div class="text-center lead">
				Últimos Números
			</div>
			<div class="col-md-10 col-md-offset-1 alert alert-dismissable alert-warning">
				<ul class="nav nav-pills">
					<script type="text/template" class="Numbers">

						<li><span class="lead">&nbsp;<kbd class="img-circle"><%= NUMERO %></kbd></span></li>
						
					</script>			
				</ul>
			</div>
		</div>
<!-- Numero jugados OFF -->
	<div class="row">
		<div class="col-md-5 ">
			<h4>Jugando:</h4>
		
			<table class="table table-condensed">
				<thead>
			        <tr>
			        	<th></th>
			          	<th>Nombre</th>
			          	<th col="4">IP</th>
			          	<th>ID de Cartones</th>
			        </tr>
			    </thead>
				<tbody id="players">

			    </tbody>				
			</table>
		</div>			
				
	</div>



	</div>
	<script type="text/template" class="Players">
		<% for (var i in players) {%>
	        <tr>
	        	<td><span class="glyphicon glyphicon-user" aria-hidden="true"></span> </td>
				<td> <%= players[i].CLIENTE %> </td>
				<td> <%= players[i].IP %> </td>
				<td>
		          	<% for (var w in players[i].cards) {%>
						<%= players[i].cards[w].IDCARTON %>
			        <% } %>
          		</td>	
	        </tr>
        <% } %>
	</script>  
	<script src="../js/jquery.js"></script>
	<script src="../js/underscore.js"></script>
	<script src="../js/network.js"></script>
	<script src="../js/toastr.js"></script>	
	<script src="../js/jugarServer.js"></script>
	<script>			
		$('#numero').focus();
		toastr.options = {
		  "closeButton": true,
		  "debug": false,
		  "newestOnTop": false,
		  "progressBar": false,
		  "positionClass": "toast-top-full-width",
		  "preventDuplicates": true,
		  "onclick": null,
		  "showDuration": "10000",
		  "hideDuration": "2000",
		  "timeOut": "2000",
		  "extendedTimeOut": "2000",
		  "showEasing": "swing",
		  "hideEasing": "linear",
		  "showMethod": "fadeIn",
		  "hideMethod": "fadeOut"
		};
	</script>
</body>
</html>
