<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="../css/styles.css">
	<link rel="stylesheet" href="../css/bootstrap.min.css">
	<title>BingoJS</title>
</head>
<body>
	<nav class="navbar navbar-default navbar-static-top">
		<div class="container">
			<div class="navbar-header">
				<a href="#" class="navbar-brand">BingoJS</a>
			</div>
			<div id="navbar" class="navbar-collapse collapse">
				<ul class="nav navbar-nav navbar-right">
					<li><a href="unirse.html"><span class="glyphicon glyphicon-th" aria-hidden="true"></span></a></li>
					<li><a href="jugar.html"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></a></li>
				</ul>
			</div>
		</div>
	</nav>	

	<div class="container">
		<div class="row">
			<div class="text-center">
				<h2>Bingo</h2>
			</div>
		</div>
		
		<!-- Modal para solicitar la cantidad de cartones ON -->
		<div id="myModal" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
		  <div class="modal-dialog modal-sm">
		    <div class="modal-content">
				<div class="modal-header">
					<h4>Cartones a pedir</h4>
				</div>
				<div class="modal-body">
					<form>
						<div class="form-group">
							<label for="numero">Cantidad</label>
							<input type="text" name="form-control" id="numero" placeholder="Algún número">
						</div>
					</form>
				</div>		
				<div class="modal-footer">
					<button type="button" id="aceptarNumero" class="btn btn-success" data-dismiss="modal">Aceptar</button>
				</div>		
		    </div>
		  </div>
		</div>
		<!-- Modal para solicitar la cantidad de cartones OFF -->

		<!-- aquí se colocarán los cartones que envíe el servidor -->
		<div class="row" id="boards-content"></div>	

		<!-- Numero jugados ON -->

		<div class="row">
			<div class="text-center lead">
				Últimos Numeros
			</div>
			<div class="col-md-10 col-md-offset-1 alert alert-dismissable alert-warning">
				<ul class="nav nav-pills">

				</ul>
			</div>
		</div>

		<!-- Numero jugados OFF -->
		<script type="text/template" class="templateBoard">
			<div class="col-xs-6 col-md-4 well alert-success">		  	
			<table class="table table-bordered text-center white">
				<thead>
					<th colspan="5" class="warning text-center"> Cartón <%= IDCarton %> </th>
				</thead>
				<tr>
					<td class="danger">B</td>
					<td class="danger">I</td>
					<td class="danger">N</td>
					<td class="danger">G</td>
					<td class="danger">O</td>
				</tr>

				<% for (var i = 0; i < 5; i++) { %>
						<tr>
						<% for (var j = 0; j < 5; j++) { %>
							<% if ( i == 2 && j == 2 ) { %>
								<td class="success">
									<h5>Free</h5>
								</td>
							<% } else { %>
								<td class="<%= Numeros[j][i]%>"><%= Numeros[j][i] %></td>
							<% } %>							
						<% } %>
						</tr>
				<% } %>	

			</table>
		  </div>	
		</script>
		<script type="text/template" class="Numbers">

			<li><span class="badge"><%= Numero %></span></li>
			
		</script>
		<script src="../js/jquery.js"></script>
		<script src="../js/underscore.js"></script>
		<script src="../js/bootstrap.min.js"></script>
		<script src="../js/network.js"></script>
		<script src="../js/jugarCliente.js"></script>
		<script>			
			$('#myModal').modal('show');
			$('#numero').focus();
		</script>

		<!-- Template que se renderizará con los números del cartón del bingo -->

</body>
</html>